@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb !important;
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.plus-jakarta {
  font-family: "Plus Jakarta Sans", system-ui;
}

select {
  -webkit-appearance: none; /* Removes default appearance in iOS Safari */
  -moz-appearance: none; /* Removes default appearance in Firefox */
  appearance: none; /* Removes default appearance in most browsers */
  background-color: white; /* Add background color */
  padding-right: 2rem; /* Add padding for custom arrow */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0..."); /* Add a custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 0.5rem center; /* Align arrow */
  background-size: 1rem;
  border: 1px solid #ccc; /* Optional: border styling */
  border-radius: 5px; /* Optional: rounded corners */
}

.header {
  @apply text-2xl text-dark-200 font-semibold md:text-[32px] md:font-semibold;
}

@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}
